<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gestion des comptes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <!-- =====  ICONS ===== -->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/admin/main.css" />
    <!-- JQUERY   -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <!-- TO ACCESS THIS VIEW /users/admin/gestion  , UR WELCOME :) -->

  <body>
    <div class="nav navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid mx-5">
        <a class="navbar-brand" href="#">Gestion des comptes</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <div class="square">  <%=first[0]%></div>
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <%=first%>
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/users/admin/logout">Se déconnecter</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="alert alert-success " id="alertup" role="alert">
      Compte modifie avec succès!
    </div>
    <div class="alert alert-success " id="alertId" role="alert">
      Compte créé avec succès !
    </div>
    <div class="cont">
      <div class="search-cont">
        <div class="form-outline">
          <input
            type="text"
            id="form1"
            class="form-control typeahead"
            placeholder="Rechercher comptes"
            name="typeahead"
            onkeyup="myFunction()"
          />
          <i class="fi-rr-search icon"></i>

        </div>
      </div>
      <div class="filter-cont">
        <div class="add">
          <button class="ajouterbtn">Ajouter un compte</button>
        </div>
        
        <%- include('./popup.ejs')%>
        <%- include('./popupupdate.ejs')%>
        <select name="Category" id="category" onChange="myFunction2()">
          <option value="Tous">Tous</option>
          <option value="Etudiant">Etudiant</option>
          <option value="Admin">Admin</option>
          <option value="Médecin">Médecin</option>
          <option value="Aide">Aide</option>
          <option value="Rh">Rh</option>
          <option value="Professeur">Professeur</option>
          <option value="Ats">Ats</option>
        </select>
      </div>
    </div>

    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver4">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="column1-th">N°</th>
                  <th class="column2-th">Nom</th>
                  <th class="column3-th">Prénom</th>
                  <th class="column4-th">Email</th>
                  <th class="column5-th">Role</th>
                  <th class="column6-th">Status</th>
                  <th class="column7-th">Opérations</th>
                </tr>
              </thead>
            </table>
          </div>
          <%let i =0 ;let toggleId ;let  toggleIdd; let formId;let inputId;%>
          <%let toggleId2 ;let  toggleIdd2; let formId2;let inputId2;%>
          <div class="table100-body">
            <table id="myTable">
              <tbody>
              
                <%   if (meds.length > 0 ) { %> <% for (let med of meds) {  toggleId="#"+med.Firstname+med.Lastname+i ;
                toggleIdd=med.Firstname+med.Lastname+i ;formId=med.Firstname+"form"+i;
                inputId=med.Firstname+"input"+i; 
                toggleId2="#"+med.Firstname+med.Lastname+"delete"+i ;
                toggleIdd2=med.Firstname+med.Lastname+"delete"+i ;
                formId2=med.Firstname+"deleteform"+i;inputId2=med.Firstname+"deleteinput"+i; 
                
                %>
                <%if(!med.Supprimer) { %>
                <tr class="row100 body user">
                  <td class="column1"><%=++i%></td>
                  <td class="column2"><%=med.Firstname%></td>
                  <td class="column3"><%=med.Lastname %></td>
                  <td class="column4" ><%=med.Email%></td>
                  <td class="column5"><%=med.Role%></td>
                  <td class="column6">
                    <%if(med.active){%>Activé<%}else {%> Désactivé <%}%>
                  </td>
                  <td class="column7">
                    <div class="operations">
                      <label class="switch" >
                        <input
                          type="checkbox"
                          
                          data-bs-toggle="modal" data-bs-target=<%=toggleId%>
                          <%if(med.active){%>checked<%}%> >
                        <span class="slider round"></span>
                      </label>
                    
                  <div class="modal fade" id=<%=toggleIdd%> tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Confirmer</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img src="/assets/warning.svg" alt="icon">
                          <%if(med.active==1){%>
                            <p>Êtes-vous sûr de désactiver ce compte? </p>
                  
                              <%}else{%>
                            <p>Êtes-vous sûr d'activer ce compte? </p>
                  
                                <%}%>
                         
                        </div>
                        <div class="modal-footer">
                          <form>
                            <button type="submit" class="modalCloseBtn" data-bs-dismiss="modal">Non</button>
                          </form>
                            <form id=<%=formId%>>
                          <input type="hidden" value="<%=med.Email%>" id=<%=inputId%>>
                            <button type="submit" class="modalSaveBtn" onclick="changeStatus('<%=med.Email%>' ,'<%=med.active%>','<%=formId%>')">Oui</button>
                            <script>
                              function changeStatus(email,status,formId){
                              // var formId = "<%=formId%>"
                              // var inputId = "<%=inputId%>"
                               var data = {
                                   email :email,
                                   status:status,
                                   
                                 }
                               $("#"+formId).submit(function(e) {
                                   $.ajax({
                                       url: "/users/admin/status",
                                       contentType: "application/json",
                                       type: "POST",
                                       data: JSON.stringify(data),
                                       success: function(data){
                                           console.log(data);
                                       },
                                       error: function (e) {
                                         console.log("ERROR==>: ", e);
                                       },
                                   });
                                 });
                                }
                            </script>
                           </form>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                    <button class="deleteAccount" type="button" 
                    data-bs-toggle="modal" data-bs-target=<%=toggleId2%>>
                    <i class="fi-rr-trash"></i></button>

                    <div class="modal fade" id=<%=toggleIdd2%> tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Confirmer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="/assets/warning.svg" alt="icon">
                            <p>Êtes-vous sûr de supprimer ce compte? </p>
                           
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="modalCloseBtn" data-bs-dismiss="modal">Non</button>
                          <form id=<%=formId2%>>
                            <input type="hidden" value="<%=med.Email%>" id=<%=inputId2%>>
                              <button type="submit" class="modalSaveBtn" onclick="deleteAccount('<%=med.Email%>' ,'<%=formId2%>','<%=med.Supprimer%>')">Oui</button>
                              <script>
                                function deleteAccount(email,formId,supprimer){
                                // var formId = "<%=formId%>"
                                // var inputId = "<%=inputId%>"
                                 var data = {
                                     email :email,
                                     supprimer:supprimer

                                   
                                   }
                                 $("#"+formId).submit(function(e) {
                                     $.ajax({
                                         url: "/users/admin/delete",
                                         contentType: "application/json",
                                         type: "POST",
                                         data: JSON.stringify(data),
                                         success: function(data){
                                             console.log(data);
                                         },
                                         error: function (e) {
                                           console.log("ERROR==>: ", e);
                                         },
                                     });
                                   });
                                  }
                              </script>
                             </form>
                            
                          </div>
                        </div>
                      </div>
                    </div>

                    <button class="updateAccount" type="button" id="update" onclick="showPopup('<%=med.Email%>')">
                    </button>
                    

                    </div>
                  </td>
                </tr>
                <%}%>

                <%}%> <%}%> <% if (patients.length > 0 ) { %> <% for (let
                patient of patients) { toggleId="#"+patient.p_Firstname+patient.p_Lastname+i ;
                toggleIdd=patient.p_Firstname+patient.p_Lastname+i ;
                formId=patient.p_Firstname+"form"+i;inputId=patient.p_Firstname+"input"+i;
                
                toggleId2="#"+patient.p_Firstname+patient.p_Lastname+"delete"+i ;
                toggleIdd2=patient.p_Firstname+patient.p_Lastname+"delete"+i ;
                formId2=patient.p_Firstname+"deleteform"+i;inputId2=patient.p_Firstname+"deleteinput"+i; 
                %>
                <%if(!patient.Supprimer) { %>
                <tr class="row100 body">
                  <td class="column1"><%=++i%></td>
                  <td class="column2"><%=patient.p_Firstname%></td>
                  <td class="column3"><%=patient.p_Lastname %></td>
                  <td class="column4"><%=patient.Email%></td>
                  <td class="column5"><%=patient.Role%></td>
                  <td class="column6">
                    <%if(patient.active){%>Activé<%}else{%> Désactivé <%}%>
                  </td>
                  <td class="column7">
                    <div class="operations">
                      <label class="switch">
                        <input
                          type="checkbox"   data-bs-toggle="modal" data-bs-target=<%=toggleId%>
                          <%if(patient.active){%>checked<%}%> >
                        <span class="slider round"></span>
                      </label>
                      <div class="modal fade" id=<%=toggleIdd%> tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Confirmer</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <img src="/assets/warning.svg" alt="icon">
                              <%if(patient.active==1){%>
                                <p>Êtes-vous sûr de désactiver ce compte? </p>
                      
                                  <%}else{%>
                                <p>Êtes-vous sûr d'activer ce compte? </p>
                      
                                    <%}%>
                             
                            </div>
                            <div class="modal-footer">
                              <form>
                                <button type="submit" class="modalCloseBtn" data-bs-dismiss="modal">Non</button>
                              </form>
                            <form id=<%=formId%>>
                              <input type="hidden" value="<%=patient.Email%>" id=<%=inputId%>>
                                <button type="submit" class="modalSaveBtn" onclick="changeStatus('<%=patient.Email%>' ,'<%=patient.active%>','<%=formId%>')">Oui</button>
                                <script>
                                  function changeStatus(email,status,formId){
                                  // var formId = "<%=formId%>"
                                  // var inputId = "<%=inputId%>"
                                   var data = {
                                       email :email,
                                       status:status,
                                       
                                     }
                                   $("#"+formId).submit(function(e) {
                                       $.ajax({
                                           url: "/users/admin/status",
                                           contentType: "application/json",
                                           type: "POST",
                                           data: JSON.stringify(data),
                                           success: function(data){
                                               console.log(data);
                                           },
                                           error: function (e) {
                                             console.log("ERROR==>: ", e);
                                           },
                                       });
                                     });
                                    }
                                </script>
                               </form>
                              
                            </div>
                          </div>
                        </div>
                      </div>
 
                    <button class="deleteAccount" type="button" 
                    data-bs-toggle="modal" data-bs-target=<%=toggleId2%>>
                    <i class="fi-rr-trash"></i></button>

                    <div class="modal fade" id=<%=toggleIdd2%> tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Confirmer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="/assets/warning.svg" alt="icon">
                            <p>Êtes-vous sûr de supprimer ce compte? </p>
                           
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="modalCloseBtn" data-bs-dismiss="modal">Non</button>
                          <form id=<%=formId2%>>
                            <input type="hidden" value="<%=patient.Email%>" id=<%=inputId2%>>
                              <button type="submit" class="modalSaveBtn" onclick="deleteAccount('<%=patient.Email%>' ,'<%=formId2%>','<%=patient.Supprimer%>')">Oui</button>
                              <script>
                                function deleteAccount(email,formId,supprimer){
                                // var formId = "<%=formId%>"
                                // var inputId = "<%=inputId%>"
                                 var data = {
                                     email :email,
                                     supprimer:supprimer
                                   
                                   }
                                 $("#"+formId).submit(function(e) {
                                     $.ajax({
                                         url: "/users/admin/delete",
                                         contentType: "application/json",
                                         type: "POST",
                                         data: JSON.stringify(data),
                                         success: function(data){
                                             console.log(data);
                                         },
                                         error: function (e) {
                                           console.log("ERROR==>: ", e);
                                         },
                                     });
                                   });
                                  }
                              </script>
                             </form>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="updateAccount" type="button" id="update" onclick="showPopup('<%=patient.Email%>')">
                    </button>

                    </div>
                  </td>
                </tr>
                <%}%>

                <%}%> <%}%> <% if (admins.length > 0 ) { %> <% for (let admin of
                admins) { 
                  toggleId="#"+admin.Firstname+admin.Lastname+i ;
                toggleIdd=admin.Firstname+admin.Lastname+i ;
                formId=admin.Firstname+"form"+i;inputId=admin.Firstname+"input"+i


                toggleId2="#"+admin.Firstname+admin.Lastname+"delete"+i ;
                toggleIdd2=admin.Firstname+admin.Lastname+"delete"+i ;
                formId2=admin.Firstname+"deleteform"+i;inputId2=admin.Firstname+"deleteinput"+i; 
                  %>
                  <%if(!admin.Supprimer) { %>
                <tr class="row100 body">
                  <td class="column1"><%=++i%></td>
                  <td class="column2"><%=admin.Firstname%></td>
                  <td class="column3"><%=admin.Lastname %></td>
                  <td class="column4"><%=admin.Email%></td>
                  <td class="column5">Admin</td>
                  <td class="column6">
                    <%if(admin.active){%>Activé<%}else{%> Désactivé <%}%>
                  </td>
                  <td class="column7">
                    <div class="operations">
                      <label class="switch">
                        <input
                          type="checkbox"   data-bs-toggle="modal" data-bs-target=<%=toggleId%>
                          <%if(admin.active){%>checked<%}%> >
                        <span class="slider round"></span>
                      </label>

                      <div class="modal fade" id=<%=toggleIdd%> tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Confirmer</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <img src="/assets/warning.svg" alt="icon">
                              <%if(admin.active==1){%>
                                <p>Êtes-vous sûr de désactiver ce compte? </p>
                      
                                  <%}else{%>
                                <p>Êtes-vous sûr d'activer ce compte? </p>
                      
                                    <%}%>
                             
                            </div>
                            <div class="modal-footer">
                              <form>
                                <button type="submit" class="modalCloseBtn" data-bs-dismiss="modal">Non</button>
                              </form>
                            <form id=<%=formId%>>
                              <input type="hidden" value="<%=admin.Email%>" id=<%=inputId%>>
                                <button type="submit" class="modalSaveBtn" onclick="changeStatus('<%=admin.Email%>' ,'<%=admin.active%>','<%=formId%>')">Oui</button>
                                <script>
                                  function changeStatus(email,status,formId){
                                  // var formId = "<%=formId%>"
                                  // var inputId = "<%=inputId%>"
                                   var data = {
                                       email :email,
                                       status:status,
                                       
                                     }
                                   $("#"+formId).submit(function(e) {
                                       $.ajax({
                                           url: "/users/admin/status",
                                           contentType: "application/json",
                                           type: "POST",
                                           data: JSON.stringify(data),
                                           success: function(data){
                                               console.log(data);
                                           },
                                           error: function (e) {
                                             console.log("ERROR==>: ", e);
                                           },
                                       });
                                     });
                                    }
                                </script>
                               </form>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                        
                    <button class="deleteAccount" type="button" 
                    data-bs-toggle="modal" data-bs-target=<%=toggleId2%> >
                    <i class="fi-rr-trash"></i></button>

                    <div class="modal fade" id=<%=toggleIdd2%> tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Confirmer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="/assets/warning.svg" alt="icon">
                            <p>Êtes-vous sûr de supprimer ce compte? </p>
                           
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="modalCloseBtn" data-bs-dismiss="modal">Non</button>
                          <form id=<%=formId2%>>
                            <input type="hidden" value="<%=admin.Email%>" id=<%=inputId2%>>
                              <button type="submit" class="modalSaveBtn" onclick="deleteAccount('<%=admin.Email%>' ,'<%=formId2%>','<%=admin.Supprimer%>')">Oui</button>
                              <script>
                                function deleteAccount(email,formId,supprimer){
                                // var formId = "<%=formId%>"
                                // var inputId = "<%=inputId%>"
                                 var data = {
                                     email :email,
                                     supprimer:supprimer,
                                   
                                   }
                                 $("#"+formId).submit(function(e) {
                                     $.ajax({
                                         url: "/users/admin/delete",
                                         contentType: "application/json",
                                         type: "POST",
                                         data: JSON.stringify(data),
                                         success: function(data){
                                             console.log(data);
                                         },
                                         error: function (e) {
                                           console.log("ERROR==>: ", e);
                                         },
                                     });
                                   });
                                  }
                              </script>
                             </form>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="updateAccount" type="button" id="update" onclick="showPopup('<%=admin.Email%>')">
                    </button> 
                    </div>
                    </div>
                  </td>
                </tr>
                <%}%>

                <%}%> <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    

    <script src="/js/gestionCompteClient.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
