<div id="<%=data.iduser%><%=data.idpatient%><%=data.date_rdv%>" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('<%=data.iduser%><%=data.idpatient%><%=data.date_rdv%>')"
      >&times;</a
    >
    <div class="sidenav-grid">
      <div class="left">
        <p>l'état de rendez-vous</p>
        <div class="svg svg8">
          <img src="/assets/cas-svg/cas 21.svg" alt="" />
        </div>
      </div>
      <div class="annuler right">
        <p>Prendre une décision</p>
        <p>Aide :</p>
        <p>
          vous avez annulé le rendez vous , donc vous ne pouvez
          prendre aucune décision , vous pouvez consulter les détails
          dans le chat.
        </p>
        <p>Vous ne pouvez prendre aucune décision</p>
      </div>
    </div>
  </div>