<div id="<%=data.iduser%><%=data.idpatient%><%=data.date_rdv%>" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('<%=data.iduser%><%=data.idpatient%><%=data.date_rdv%>')"
      >&times;</a
    >
    <div class="sidenav-grid">
      <div class="left">
        <p>l'état de rendez-vous</p>
        <div class="svg svg24">
          <p>le rendez-vous a été fait</p>
        </div>
      </div>
      <div class="annuler right">
        <p>Prendre une décision</p>
        <p>Aide :</p>
        <p>
          le rendez-vous a été fait avec succès. 
        </p>
        <p>Vous ne pouvez prendre aucune décision</p>
      </div>
    </div>
  </div>